*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #4d4a40;
    overflow-x: hidden;
}
.container{
    background-color: #fff;
    width: 1100px;
    margin:20px auto;
    padding: 30px 0;
}
.container header{
    background-color: #267890;
    border: 5px solid #14414e;
    border-radius: 8px;
    text-align: center;
    margin:0 -34px;
    display: flex;
    align-items: center;
}
.container header h2{
    font-size: 42px;
    color: #fff;
}
.container header img{
    height: 106px;
    margin-left: 90px;
}
.container header .title{
    padding-right: 203px;
    flex: 0 0 720px;
}
span,
a:link,
a:optional{
    color: #dbdbdb;
}
a:hover{
    color: #fff;
}
.container article{
    line-height: 2;
    width: 90%;
    margin:0 auto;
    padding-top: 30px;
}
.container article p{
    text-indent: 2em;
}
.container article .section h3{
    font-size: 32px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
.container article .section .list{
    margin-left: 20px;
    text-indent: 1em;
}
.container article .section h3 .pic{
    display: inline-block;
    width: 100px;
    height: 60px;
    white-space: nowrap;
    font-size: 0px;
    vertical-align: bottom;
    margin-left: 100px;
    overflow: hidden;
}
.container article .section h3 .pic li{
    display: inline-block;
    -webkit-animation: ad 4s infinite;
    cursor: pointer;
}
@keyframes ad{
    0%,25%{margin-left: 0px;}
    32%,57%{margin-left: -100px;}
    64%,89%{margin-left: -200px;}
    96%,100%{margin-left: -300px;}
}
.container article .section h3 .pic li img{
    width: 100px;
    height: 60px;
}
.container article .section h3 .pic li:hover{
    -webkit-animation-play-state: paused;
}
.container footer div{
    height: 1em;
    width: 100px;
    position: relative;
    line-height: 1em;
    margin: 0 auto;
}
.container footer div:hover >a{
    display: inline;
}
.container footer div a{
    position: absolute;
    right: 0;
    color: #000;
    display: none;
    line-height: 1em;
}
@media all and (max-width:850px){
    .container{
        width: 90%;
    }
    .container header{
        flex-direction: column;
        margin: 0 -5%;
    }
    .container header .title{
        padding-right: 0;
        flex: 0 0 80%;
    }
    .container header h2{
        font-size: 36px;
    }
    .container article .section h3{
        font-size: 30px;
    }
    .container header img{
        margin-left: 0;
    }
}
